.todosHistory {
  margin: 25px 0 0;
}

.todosHistory .todoItem {
  padding: 9px 16px;
  box-shadow: 0 2px 7px #cccccc;
  border-radius: 5px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove {
  cursor: pointer;
}